<!-- views/transactions/show.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= transaction.name %></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= transaction.name %> at <%= transaction.amount %></h1>
    <% if (transaction.notes) { %>
    <p>Notes: <%= transaction.notes %></p>
    <% } %>
    <p>The status of this transaction is: <%= transaction.type %></p>

    <!-- Add the following link -->
    <a href="/users/<%= user._id %>/transactions/<%= transaction._id %>/edit">
      Edit this transaction
    </a>
    <!--  -->

    <form
      action="/users/<%= user._id %>/transactions/<%= transaction._id %>?_method=DELETE"
      method="POST"
    >
      <button type="submit">Delete this transaction</button>
  </body>
</html>